<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marc Horst</title>
        <script type="text/javascript" data-cmp-ab="1"
            src="https://cdn.consentmanager.net/delivery/autoblocking/0c0a0e1c108e.js"
            data-cmp-host="d.delivery.consentmanager.net"
            data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="1"></script>
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-2KK0Z11266"></script>
        <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2KK0Z11266');
    </script>
    </head>
    <body id="start">
        {{content}}
        {% include footerstyles.html %}
    </body>
</html>